<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mainMapper">

	<select id="loginCheck"
		parameterType="com.javaclass.project.domain.UsersVO"
		resultType="com.javaclass.project.domain.UsersVO">

		SELECT * FROM USERS WHERE USER_ID=#{user_id} and USER_PASS=#{user_pass}

	</select>

	<select id="cartCheck"
		parameterType="com.javaclass.project.domain.CartVO"
		resultType="com.javaclass.project.domain.CartVO">

		SELECT * 
		FROM CART ca INNER JOIN ALCOHOLS al
						ON ca.al_num=al.al_num
					  INNER JOIN AL_MAINIMG img
                    	on ca.al_num=img.al_num
                     INNER JOIN AL_EVENTS evt
						on al.evt_num=evt.evt_num 
		WHERE USER_NUM=#{user_num}

	</select>

	<select id="selectAlcoholsByPk"
		parameterType="com.javaclass.project.domain.AlcoholsPriceVO"
		resultType="com.javaclass.project.domain.AlcoholsPriceVO">

		SELECT al.al_num al_num, al.al_price al_price, evt.evt_per evt_per
		FROM ALCOHOLS al inner join AL_EVENTS evt
		on al.evt_num = evt.evt_num
		WHERE al_num=#{al_num}

	</select>

	<select id="idCheck"
		parameterType="com.javaclass.project.domain.UsersVO"
		resultType="com.javaclass.project.domain.UsersVO">

		SELECT *
		FROM USERS
		<where>
			<if test="user_id!=null">
			USER_ID=#{user_id}
			</if>
			<if test="user_id==null and user_num!=null">
			USER_num=#{user_num}
			</if>
		</where>
		
		
	</select>

	<insert id="registUser"
		parameterType="com.javaclass.project.domain.UsersVO">

		INSERT INTO USERS
		VALUES ( user_num_seq.nextval, #{user_id}, #{user_pass}, #{user_name}, '불참',
		'ROLE_USER')

	</insert>

	<select id="alcoholsList" 
		parameterType="com.javaclass.project.domain.AlcoholDetailVO"
		resultType="com.javaclass.project.domain.AlcoholDetailVO">
	
		SELECT *
		FROM ALCOHOLS al INNER JOIN AL_KINDS ki
			on al.ki_num=ki.ki_num
						 INNER JOIN AL_EVENTS evt
			on al.evt_num=evt.evt_num
						 INNER JOIN AL_MAINIMG img
			on al.al_num=img.al_num
		WHERE al.KI_NUM=#{ki_num}
		
	</select>
	
	<select id="alcoholDetail" 
		parameterType="com.javaclass.project.domain.AlcoholDetailVO"
		resultType="com.javaclass.project.domain.AlcoholDetailVO">
	
		SELECT *
		FROM ALCOHOLS al INNER JOIN AL_KINDS ki
					on al.ki_num=ki.ki_num
		                 INNER JOIN AL_EVENTS evt
					on al.evt_num=evt.evt_num
		                 LEFT OUTER JOIN AL_FLAVORS fl
		            on al.al_num=fl.al_num
		            	 INNER JOIN AL_MAKERS ma
		            on al.ma_num=ma.ma_num
		            	INNER JOIN AL_MAINIMG img
                    on al.al_num=img.al_num
		WHERE al.al_num = #{al_num}
		
	</select>
	
	<insert id="insertCart" 
		parameterType="com.javaclass.project.domain.CartVO">
	
		INSERT INTO CART
		VALUES( cart_num_seq.nextval,#{user_num},#{al_num},#{ca_count} )
	</insert>
	
	<update id="updateCart"
		parameterType="com.javaclass.project.domain.CartVO">
		
		UPDATE CART
		SET ca_count=ca_count+#{ca_count}
		WHERE al_num=#{al_num}
	
	</update>

	<select id="howsCartItem"
		parameterType="com.javaclass.project.domain.CartVO"
		resultType="com.javaclass.project.domain.CartVO">
		
		SELECT *
		FROM CART
		WHERE ca_num=#{ca_num}
	
	</select>
	
	<delete id="deleteCartByPk"
		parameterType="com.javaclass.project.domain.CartVO">
		
		DELETE FROM CART
		WHERE ca_num=#{ca_num}
	
	</delete>
	
	<select id="selectCak"
		parameterType="com.javaclass.project.domain.AlcoholDetailVO"
		resultType="com.javaclass.project.domain.AlcoholDetailVO">
	<![CDATA[
		select * 
		from
				(SELECT *
				 FROM ALCOHOLS al INNER JOIN AL_KINDS ki
										on al.ki_num=ki.ki_num
					              INNER JOIN AL_EVENTS evt
										on al.evt_num=evt.evt_num
					                 LEFT OUTER JOIN AL_FLAVORS fl
					           		    on al.al_num=fl.al_num
					           	  INNER JOIN AL_MAKERS ma
					            		on al.ma_num=ma.ma_num
			                      INNER JOIN AL_MAINIMG img
			                    		on al.al_num=img.al_num
				WHERE al.ki_num = 304 and al.al_status='판매중'
				ORDER BY al.al_price desc)			
	]]>
	</select>
	
	<select id="selectSale"
		parameterType="com.javaclass.project.domain.AlcoholDetailVO"
		resultType="com.javaclass.project.domain.AlcoholDetailVO">
	<![CDATA[
		select * 
		from
			(SELECT *
			FROM ALCOHOLS al INNER JOIN AL_KINDS ki
						on al.ki_num=ki.ki_num
			                 INNER JOIN AL_EVENTS evt
						on al.evt_num=evt.evt_num
			                 LEFT OUTER JOIN AL_FLAVORS fl
			            on al.al_num=fl.al_num
			            	 INNER JOIN AL_MAKERS ma
			            on al.ma_num=ma.ma_num
	                        INNER JOIN AL_MAINIMG img
	                    on al.al_num=img.al_num
			WHERE al.evt_num!=0 and al.al_status='판매중')
	]]>
	</select>
	
	<select id="selectAll"
		parameterType="com.javaclass.project.domain.AlcoholDetailVO"
		resultType="com.javaclass.project.domain.AlcoholDetailVO">
	<![CDATA[
		select * 
		FROM ALCOHOLS al INNER JOIN AL_KINDS ki
						on al.ki_num=ki.ki_num
			                 INNER JOIN AL_EVENTS evt
						on al.evt_num=evt.evt_num
			                 LEFT OUTER JOIN AL_FLAVORS fl
			            on al.al_num=fl.al_num
			            	 INNER JOIN AL_MAKERS ma
			            on al.ma_num=ma.ma_num
	                        INNER JOIN AL_MAINIMG img
	                    on al.al_num=img.al_num
		WHERE al.al_status='판매중'
	]]>
	</select>
	
	<select id="selectMini"
		parameterType="com.javaclass.project.domain.AlcoholDetailVO"
		resultType="com.javaclass.project.domain.AlcoholDetailVO">
	<![CDATA[
		select * 
			FROM ALCOHOLS al INNER JOIN AL_KINDS ki
						on al.ki_num=ki.ki_num
			                 INNER JOIN AL_EVENTS evt
						on al.evt_num=evt.evt_num
			                 LEFT OUTER JOIN AL_FLAVORS fl
			            on al.al_num=fl.al_num
			            	 INNER JOIN AL_MAKERS ma
			            on al.ma_num=ma.ma_num
	                        INNER JOIN AL_MAINIMG img
	                    on al.al_num=img.al_num
			WHERE al.al_volume<=350 and al.al_status='판매중'
	]]>
	</select>
	
</mapper>